.game-list-empty {
  width: 100%;
  text-align: center;
  font-size: 1.3rem;
  color: #bbb;
  margin-top: 40px;
}
.game-list {
  margin-top: 90px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px;
  padding: 32px 24px;
  width: 90%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1200px) {
  .game-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
    padding: 18px 8px;
    width: 98%;
  }
}
@media (max-width: 800px) {
  .game-list {
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 8px 2px;
    width: 100%;
  }
}
